# FILES
**/**/.pyc
.DS_Store

# DIRECTORIES
**/**/__pycache__
.vscode/
.pytest_cache
src.egg-info
venv
zero_hunger.egg-info
.env
media

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/